<!DOCTYPE html>
<html lang="en">
<head>
  <title>New Vendor</title>
</head>
<body>

<h1>Add a new vendor here:</h1>

<form action="/vendors" method="post">
  <label for="Name"> Name</label>
  <input id="Name" name="Name" type="text">

  <label for="Description"> Description</label>
  <input id="Description" name="Description" type="text">
  
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to home page</a></p>
<p><a href="/vendors">Back to vendors page.</a></p>

</body>
</html>

